@import '../variables';

.socialRoot {
  background: #FAFAFA;
  z-index: 0;
  position: relative;
}

.socialWrap {
    lost-center: 800px 20px flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    img {
      height: 100px;
      // z-index: 2;
      z-index: 2;

      width: 100px;
      height: 100px;
      position: relative;
    }
}

.iconWrap a:hover .socialIcon {
  background: $red;
}

.socialIcon {
  position: relative;
  background: $purple;
  width: 70px;
  height: 70px;
  left: 15px;
  z-index: 1;
  top: -91px;
}

.iconWrap {
  display: block;
  margin: auto;
}

@media(max-width: 580px) {
  .iconWrap {
    width: 100%;
    height: 94px;
    a img {
      display: block;
      margin: auto;
    }
    a {
      height: 94px;
      display: block;
    }
  }
  .socialIcon {
    display: block;
    margin: auto;
    left: 0;
  }
  .socialWrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
