@import '../variables';

.introWrap {
  // background: red;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: auto;
  position: relative;
  overflow: auto;
  height: auto;
  padding-top: 30px;
}

.introRoot {
  z-index: -1;
  position: relative;
}

.whale {
  padding: 100px 30px;
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  clear: both;
  right: 0;
  left: auto;
  display: block;
  margin: auto auto auto auto;
  right: -226px;
}
@media (max-width: 540px) {
  .whale {
    display: none;
  }
}

.introCard {
  background: $darkpurple;
  width: 100%;
  // max-width: 450px;
  max-width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 40px 52px;
  // padding-left: 52px;

  p {
    font-size: 14px;
    line-height: 23px;
  }

  p, h3 {
    color: $white;
    // max-width: 360px;
    max-width: 330px;
  }
  a {
    color: $white;
  }
}

@media (max-width: 540px) {
  .introCard {
    background: transparent;
    width: 100%;
    max-width: 440px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding: 30px;
    display: block;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 20px;
  }
}

.octopus {
  position: absolute;
  z-index: -1;
  top: 60px;
  margin-right: -250px;
  width: 100%;
  max-width: 1600px;
  // right: -220px;
}
