@import '../variables';

.menu {
  position: absolute;
  right: 0;
  display: inline;
  margin: 0px;
  padding: 0px;
  top: 38px;
  right: 30px;
  z-index: 0;
  li {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

@media (max-width: 759px) {
  .menu {
    display: none;
  }
}

.menu li {
  display: inline;
  color: $white;
  margin: 0px 10px;
  padding: 0px;
  &:hover .menuLine {
    border-bottom: 2px solid $purple !important;
  }
}

.menuLine {
  display: inline-block;
  border-bottom: 2px solid $green;
  width: 20px;
  left: 20px;
  height: 1px;
  position: relative;
  top: 13px;
}
