@import '../variables';

.wallpapers {
  list-style-type: none;
  padding-left: 0;
  margin-left: 80px;
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    background: $purple;
    display: block;
  }
  li {
    border-left: 5px solid #02F99F;
    margin-bottom: 16px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.wallpaperWrap {
  lost-center: 1200px 0px flex;
  color: white;
  padding-bottom: 100px;
  h2 {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: none;
    width: 0;
    position: absolute;
    margin-top: 128px;
    margin-left: 34px;
  }
}

@media (max-width: 520px) {
  .wallpaperWrap {
    padding-bottom: 60px;
  }
}

.face {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin-left: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto !important;
}

@media (max-width: 759px) {
  .face {
    float: right;
    left: auto;
  }
}

@media (max-width: 540px) {
  .face {
    display: none !important;
  }
}

.ball {
  position: absolute;
  z-index: -2;
  margin-top: -330px;
  max-width: 1600px;
  opacity: 0.08;
  width: 86%;
  left: 0; right: 0;
  margin-left: 0;
  margin-right: 0;
  display: block;
  left: 56%;
  transform: translateX(-50%);
}

@media (max-width: 775px) {
  .ball {
    display: none;
  }
}

.wallpaperImg {
  width: 100%;
  max-width: 840px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wallpaperModalWrap {
  width: 100%;
  max-width: 840px;
  display: block;
  margin: auto;

}

.wallpaperModalWrapInner {
  h3 {
    color: $white;
    margin-top: 20px;
  }
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  width: 50px;
  border: none;
  cursor: pointer;
}

.downloadBtn {
  background: rgba($black, 0.6);
  border: 1px solid $black;
  padding: 10px 30px;
  text-align: center;
  border-radius: 8px;
  color: $white;
  text-decoration: none;
  margin-top: -8px;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    background: $darkteal;
  }
}
